*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#totalsSection{
    text-align: center;
    padding-top: 2rem;
}

#totalsSection p{
    margin: 0.5rem;
}

#totalsSection p a{
    font-size: 10px;
    color: rgb(44, 126, 156);
    font-weight: bold;
    margin-left: .5rem;
    text-decoration: none;
}

#homeTitle{
    text-align: center;
    padding: 2rem 0 3rem;
}

#homeSection{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#homeTable{
    width: 65%;
    border: 1px solid black;
}

#firstTr{
    background-color: rgb(166, 215, 233);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#homeTable tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(66, 173, 211);
}

.tableTds{
    width: 23%;
    padding: 0.5rem;
}

#tableValue, #tableDate{
    text-align: center;
    align-self: center;
}

#tableValue{
    width: 4.6rem;
    margin-right: .5rem;
}

#icon{
    width: 3rem;
    padding: 1rem 1rem 1rem 1rem ;
}

#tdDesc{
    width: 10rem;
}

.fa-arrow-up{
    color: rgb(55, 184, 87);
}

.fa-arrow-down{
    color: rgb(221, 59, 53);
}

#firstTr #tdDesc{
    padding-left: 1.75rem;
}  

@media screen and (min-width: 380px){
    #tdDesc{
        width: 9rem;
    }
    #tableValue{
        width: 7rem;
        margin-right: 0;
    }
}

@media screen and (min-width: 400px) {
    #tdDesc{
        width: 10rem;
    }
}

@media screen and (min-width: 450px){
    #tableDate{
        width: 7rem;
    }
}

@media screen and (min-width: 550px) {
    #tdDesc{
        width: 15rem;
    }
    #totalsSection p{
        margin: 1rem;
    }
    #firstTr #tdDesc{
        padding-left: 3.5rem;
    }

}

@media screen and (min-width: 700px) {
    #tdDesc{
        width: 20rem;
    }
    #totalsSection p a{
        font-size: 12px;
    }
}

@media screen and (min-width: 1000px){
    #icon{
        padding: 1rem 1rem 1rem 2rem ;
    }
    #totalsSection{
        padding-top: 3rem;
    }
    #firstTr #tdDesc{
        padding-left: 4rem;
    }

}

@media screen and (min-width: 1200px){
    #icon{
        padding: 1rem 1rem 1rem 3rem ;
    }
}