*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#navBack{
    display: inline;
    position: absolute
}

#backArrow{
    color: #000;
    font-size: 25px;
    position: relative;
    left: 10px;
    top: 10px;
}

#incTitle{
    text-align: center;
    padding: 3rem 0;
}

#incSection{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#incTable{
    width: 65%;
    border: 1px solid black;
}

#firstTr{
    background-color: rgb(166, 215, 233);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#incTable tr{
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid rgb(66, 173, 211);
}

.tableTds{
    width: 23%;
    padding: 0.5rem;
}

#tableValue, #tableDate{
    text-align: center;
    align-self: center;
}

#tableValue{
    width: 4.6rem;
    margin-right: .5rem;
}

.fa-pen{
    padding: 1rem;
    color: rgb(42, 181, 232);
}

.fa-pen:hover{
    color: #000;
}

#tableDesc{
    width: 8rem;
}

#firstTr #tableDesc{
    padding-left: 3rem;
}

#firstTr #tableValue{
    padding-left: 2rem;
}

@media screen and (min-width: 380px){
    #tableDesc{
        width: 9rem;
    }
    #tableValue{
        width: 7rem;
        margin-right: 0;
    }
    #firstTr #tableDesc{
        padding-left: 4rem;
    }
    #firstTr #tableValue{
        padding-left: 2.5rem;
    }
}

@media screen and (min-width: 400px) {
    #tableDesc{
        width: 10rem;
    }
}

@media screen and (min-width: 450px){
    #tableDate{
        width: 7rem;
    }
}

@media screen and (min-width: 472px) {
    #backArrow{
        top: 20px;
        left: 10px;
        font-size: 30px;
    }
}

@media screen and (min-width: 550px) {
    #backArrow{
        left: 100%;
    }
    #tableDesc{
        width: 15rem;
    }
    #firstTr #tableDesc{
        padding-left: 5rem;
    }
}

@media screen and (min-width: 700px) {
    #tableDesc{
        width: 20rem;
    }
    #firstTr #tableDesc{
        padding-left: 6rem;
    }
}

@media screen and (min-width: 1000px){
    .fa-pen{
        margin-left: 1.5rem;
    }
    #firstTr #tableDesc{
        padding-left: 7rem;
    }
}
