*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#listTitle{
    text-align: center;
    padding: 3rem 0;
}

#listSection{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#listTable{
    width: 65%;
}

#listTable tr{
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid rgb(66, 173, 211);
}

.tableTds{
    width: 23%;
    padding: 0.5rem;
}

#firstTr{
    background-color: rgb(166, 215, 233);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#tbDate{
    text-align: center;
    align-self: center;
}

#empty{
    width: 3rem;
    padding: 1rem 0;
}

#tbValue{
    text-align: center;
    align-self: center;
    width: 4.6rem;
    margin-right: .5rem;
}

#tbDesc{
    width: 10rem;
}

#tableValue, #tableDate{
    text-align: center;
    align-self: center;
}

#icon{
    width: 3rem;
    padding: 1rem 0;
}

#tableValue{
    width: 4.6rem;
    margin-right: .5rem;
}

.fa-pen{
    color: rgb(42, 181, 232);
    margin-left: .5rem;
}

.fa-pen:hover{
    color: #000;
}

#tableDesc{
    width: 10rem;
}

.fa-arrow-up{
    color: rgb(55, 184, 87);
}

.fa-arrow-down{
    color: rgb(221, 59, 53);
}

@media screen and (min-width: 380px){
    #tableDesc, #tbDesc{
        width: 9rem;
    }
    #tableValue, #tbValue{
        width: 7rem;
        margin-right: 0;
    }
}

@media screen and (min-width: 400px) {
    #tableDesc, #tbDesc{
        width: 10rem;
    }
    .fa-pen{
        margin-right: 0.25rem;
    }
}

@media screen and (min-width: 450px){
    #tableDate, #tbDate{
        width: 7rem;
    }
}

@media screen and (min-width: 550px) {
    #tableDesc{
        width: 15rem;
    }
    
    #tbDesc{
        width: 15rem;
        padding-left: 3.5rem;
    }
}

@media screen and (min-width: 700px) {
    #tableDesc, #tbDesc{
        width: 20rem;
    }
}

@media screen and (min-width: 1000px){
    #icon, #empty{
        padding: 1rem 1rem 1rem 2rem ;
        width: 6rem;
    }
    .fa-pen{
        margin-right: 0.5rem;
    }
    #tbDesc{
        padding-left: 4rem;
    }
}
