<header>
    <nav id="headerNav">
        <a href="/">Home</a>
        <a href="/operations/create">Nueva operación</a>
        <a href="/operations/list">Todas las operaciones</a>
    </nav>
</header>