<header>
    <nav id="headerNav">
        <a href="/"><i class="fas fa-home"></i></i>Home</a>
        <a href="/operations/list">Todas las operaciones</a>
        <a href="/operations/create">Nueva operación <i class="fas fa-solid fa-plus"></i></a>
    </nav>
</header>